.restarant-input{
    background-color: #f8f7f7;
}

.w-50{
    width:50%;
}

.btns{
    text-align: center;
    background: white;
    font-weight: bold;
}

.qr-code{
    background:#e94141;
    color:white;
    text-align:center;
    font-weight: bold;
}